<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HTML5 Preview Page Generator</title>
  <link rel="stylesheet" href="css/dev.css">
</head>

<body>
  <div class="container">
    <h1>HTML5 Preview Page Generator</h1>
    <form ref='html5Form' id='html5GenForm' action='http://localhost:3000/generateHTML5' method='post' encType="multipart/form-data">
      Campaign Title:
      <input type="text" name="campaign"> Creatives:
      <input type="text" name="creative">
      <button class="add-creative-btn">Add Creative</button>
      <input type='submit' value='Generate Page' />
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    (() => {
      const ADD_CREATIVE = $('.add-creative-btn');
      const SUBMIT_FORM = $('#html5GenForm');
      ADD_CREATIVE.click(function (e) {
        e.preventDefault();
        $('<input type="text" name="creative">').insertBefore('.add-creative-btn');
      });

      $('#html5GenForm').submit(function (e) {
        e.preventDefault();
        var form = $(this);
        $.ajax({
          type: 'POST',
          method: 'POST',
          data: new FormData(this),
          type: form.attr('method'),
          url: form.attr('action'),
          contentType: false,
          processData: false,
          success: function (data) {
            console.log(data);
          },
          error: function (data) {
            console.log(data);
          }
        });
        return false;
      });
    })();
  </script>
</body>

</html>