*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: none;
}

.js-loading,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

#ad-wrapper {
  position: relative;
  top: 0;
  left: 0;
}

#ad-wrapper[rel~="eg-leaderboard"] {
  width: 1260px;
  height: 250px;
  background-position: 50% 0;
}

#ad-wrapper[rel~="meta-leaderboard"] {
  width: 1280px;
  height: 250px;
}

#ad-wrapper[rel~="mod-leaderboard"] {
  width: 970px;
  height: 250px;
}

#ad-wrapper[rel~="300x600-halfpage"] {
  width: 300px;
  height: 600px;
}

#ad-wrapper[rel~="300x1050-halfpage"] {
  width: 300px;
  height: 1050px;
}

#autoplaying-video-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

#autoplaying-video-wrapper:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-overlay-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  cursor: pointer;
  transition: filter 300ms ease;
}

#autoplaying-video-wrapper:hover .video-overlay-link {
  filter: brightness(1.25);
}

#autoplaying-video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

#ad-wrapper-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#skin-load-test {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}