/* Base */
#portrait-ad a, #portrait-ad #twtr-widget-1 .twtr-tweet a, #portrait-ad div.video-info div.video-info-title, .portrait-ad-subheading {
	color: #ff7d00 !important;
	}
	
#portrait-ad .portrait-ad-subheading, #portrait-ad .portrait-ad-heading {
	text-align: center;
	font-weight: bold;
	}
	
#portrait-ad div.portrait-ad-heading {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 1px solid #e6e6e6;
	border-bottom: none;
	background: #f1f1f1;
	padding: 15px;
	}
	
#portrait-ad div.tile, #portrait-ad #portrait-ad-media, #portrait-ad #portrait-ad-media div.close-mask, #portrait-ad #portrait-ad-media #portrait-ad-media-close, #portrait-ad #portrait-ad-media #close-fix {
	background-color: #F6F2EF;
	}

#portrait-ad div.tile > div {
	border: none;
	}

#portrait-ad #portrait-ad-tile-video {
	background-color: transparent;
	margin-bottom: 105px;
	height: 206px;
	}
	
#portrait-ad #portrait-ad-tile-list ul {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border: 1px solid #e6e6e6;
	padding: 15px 10px 10px 10px;
	background: white;
	margin-bottom: 0;
	}
	
#portrait-ad #portrait-ad-tile-list li {
	list-style-type: decimal;
	margin-left: 30px;
	margin-right: 10px;
	font-size: 13px;
	color: #68645b;
	font-weight: bold;
	margin-bottom: 4px;
	}
	
#portrait-ad #portrait-ad-tile-list span {
	color: #CB0F0D;
	}
	
#portrait-ad div.portrait-ad-tile-border-btm {
	background: url('http://images.eurogamer.net/2012/portrait-ad/campaigns/e-shop/eShop-PA-divider-btm.png') no-repeat bottom center;
	height: 20px;
	padding-top: 10px;
	}
	
#portrait-ad div.portrait-ad-tile-border-top {
	background: url('http://images.eurogamer.net/2012/portrait-ad/campaigns/e-shop/eShop-PA-divider-top.png') no-repeat top center;
	height: 20px;
	margin-top: -10px;
	padding-bottom: 20px;
	}	
	
#portrait-ad div.portrait-ad-tile-promo {
	border-radius: 6px;
	background: #d9d9d9;
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
	}
	
#portrait-ad div.portrait-ad-tile-single-image img {
	padding-bottom: 0;
	}
	
#portrait-ad #portrait-ad-tile-footer img {
	padding-bottom: 20px;
	}
	
#portrait-ad-cta-button {
	position: absolute;
	z-index: 1000;
	left: 65px;
	top: 280px;
	}
	
#portrait-ad .play-btn {
	position: relative;
	display: block;
	top: 168px;
	left: 95px;
	background: url('http://images.eurogamer.net/2012/portrait-ad/campaigns/e-shop/eShop-PA-play.png') no-repeat top center;
	width: 71px;
	height: 74px;
	}
	
#portrait-ad .play-btn:hover {
	background-position: bottom center;
	}

#portrait-ad-tile-banner {
	top: 335px;
	z-index: 101;
	width: 353px;
	height: 101px;
	position: absolute;
	background: url('http://images.eurogamer.net/2012/portrait-ad/campaigns/e-shop/eShop-PA-Punch_out-salebanner.png') no-repeat top left;
	}