/*
Eurogamer 
Portrait Ad CSS
*/

/* ---------- Common */

#portrait-ad {
    border-left: 1px solid #D9D8DD;
    text-align: left;
	z-index: 1;
	font-family: "Proxima", Verdana;
	font-weight: normal;
	color: #2A2A2A;
	}

#portrait-ad .clear {
  	clear: both;
  	display: block;
  	overflow: hidden;
  	visibility: hidden;
  	width: 0;
  	height: 0;
	}
	
#portrait-ad .hidden {
	display: none !important;
	}

#portrait-ad strong {
	font-family: "Proxima", Verdana;
	font-weight: bold;
	}
	
#portrait-ad img {
	display: block;
	}

#portrait-ad .box-shadow {
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	}
	
/* ---------- Links */

#portrait-ad a {
	font-family: "Proxima", Verdana;
	padding: 0;
	margin: 0;
	font-weight: bold;
	color: #0069FF;
	text-decoration: none;
	}
	
#portrait-ad a:hover {
	text-decoration: underline;
	}

/* ---------- Containers */
    	
#portrait-ad #portrait-ad-media {
	/* Above Content - Below Main Sidebar */
	z-index: 20;
	position: absolute;
	width: 0px;
	background-color: white;
	float: right;
	right: 299px;
	top: 0px;
	}
	
#portrait-ad #portrait-ad-sidebar {
	z-index: 100;
	width: 300px;
	position: relative;
	}

/* ---------- Text */

#portrait-ad div.portrait-ad-heading {
	padding: 0 0 20px 0;
	/* Intended For One Line Only */
	font-size: 18px;
	height: 18px;
	line-height: 18px;
	color: #2A2A2A;
    font-weight: 900;
	position: relative;
	}
	
#portrait-ad div.portrait-ad-heading a {
	font-size: 14px;
	height: 14px;
	line-height: 20px;
	position: absolute;
	right: 0;
	}
	
#portrait-ad div.portrait-ad-subheading {
	padding: 0 0 10px 0;
	font-size: 14px;
	height: 18px;
	color: #2A2A2A;
	}
		
#portrait-ad div.portrait-ad-paragraph {
	padding: 0 0 10px 0;
	font-size: 14px;
	line-height: 18px;
	color: #606060;
	}
	
/* ---------- Tiles */
#portrait-ad #portrait-ad-tile-header {
	padding-top: 15px;
	}

#portrait-ad div.tile {
	padding: 10px 15px 0px 15px;
	background-color: white;
	height: auto;
	position: relative;
	clear: both;
	}
	
#portrait-ad div.tile > div {
	border-bottom: 1px solid #D7D9DE;
	width: 270px;
	}
	
/* Heading Tile */

#portrait-ad #portrait-ad-brand-logo {
	padding-bottom: 20px;
	}
	
/* Footer Tile */

#portrait-ad #portrait-ad-tile-footer > div{
	border-bottom: none;
	text-align: center;
	}
	
#portrait-ad #portrait-ad-tile-footer img {
	display: inline;
	width: auto;
	}
	
/* Image Tile */

#portrait-ad div.portrait-ad-tile-single-image img {
	width: 270px;
	padding-bottom: 10px;
	}
	
/* Video Tile - Splash */

#portrait-ad img.splash-image {
	width: 270px;
	height: 268px;
	padding-bottom: 10px;
	}

#portrait-ad div.play-btn, #portrait-ad div.play-btn-temp {
	cursor: pointer;
	position: absolute;
	z-index: 10;
	left: 50%;
	margin-left: -51px;
	top: 50%;
	margin-top: -51px;
	width: 102px;
	height: 102px;
	}
	
#portrait-ad div.play-bg {
	width: 100px;
	height: 100px;
	top: 1px;
	left: 1px;
	position: absolute;
	z-index: 1;
	background: url('http://images.eurogamer.net/2012/portrait-ad/images/play-btn-background.png') no-repeat top left;
	}
	
#portrait-ad div.play-symbol {
	width: 102px;
	height: 102px;
	position: absolute;
	z-index: 2;
	}

/* Video Tile - Thumbs */	

#portrait-ad div.video-thumbs {
	overflow: hidden;
	padding-bottom: 10px;
	}
	
#portrait-ad div.video-image {
	height: 76px;
	width: 82px;
	float: left;
	margin-right: 12px;
	cursor: pointer;
	position: relative;
	}
	
#portrait-ad div.video-image.last {
	margin-right: 0;
	}
	
#portrait-ad div.video-image img {
	height: 76px;
	width: 82px;
	}
	
/* Video Tile - Info */
	
#portrait-ad div.video-info {
	width: 230px;
	padding: 10px;
	position: absolute;
	left: 25px;
	bottom: 20px;
	background-color: black;
	background-color: rgba(0,0,0, 0.85);
	display: none;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	
#portrait-ad div.video-info div.video-info-title {
	font-weight: bold;
	font-size: 22px;
	padding-top: 3px;
	padding-bottom: 10px;
	}
	
#portrait-ad div.video-info div.video-info-strap {
	color: white;
	}
	
/* Gallery Tile - Thumbs */	

#portrait-ad div.gallery-thumbs {
	width: 270px;
	top: 0px;
	margin-top: 0px;
	}
	
#portrait-ad div.gallery-image {
	margin: 0 12px 10px 0;
	height: 76px;
	width: 82px;
	float: left;
	cursor: pointer;
	position: relative;
	}
	
#portrait-ad div.gallery-image.last {
	margin-right: 0;
	}
	
#portrait-ad div.gallery-image img {
	height: 76px;
	width: 82px;
	}
	
#portrait-ad div.gallery-border {
	border: 4px solid white;
	width: 74px;
	height: 68px;
	position: absolute;
	opacity: 0;
	}

/* Media Panel */

#portrait-ad #portrait-ad-media #portrait-ad-media-image {
	padding: 10px 0px 10px 10px;
	height: 362px;
	width: 644px;
	float: left;
	}
	
#portrait-ad #portrait-ad-media div.media-main {
	overflow: hidden;
	position: relative;
	}
	
#portrait-ad #portrait-ad-media div.media-mask {
	width: 0px;
	overflow: hidden;
	position: relative;
	}
	
#portrait-ad #portrait-ad-media div.close-mask {
	height: 0px;
	display: none;
	position: absolute;
	bottom: 380px;
	}
	
#portrait-ad #portrait-ad-media #portrait-ad-media-close a {
	display: block;
	position: relative;
	z-index: 99999;
	}

#portrait-ad #portrait-ad-media #portrait-ad-media-close {
	font-size: 14px;
	line-height: 14px;
	padding: 8px 10px 10px 10px;
	background-color: white;
	position: relative;
	font-family: "Proxima", Verdana;
	color: gray;
	cursor: pointer;
	}
	
/* Media Panel - Video */

#portrait-ad #portrait-ad-media #portrait-ad-media-video {
	position: absolute;
	left: 10px;
	top: 10px;
	display: none;
	}
	
/* Media Panel / Sidebar Fixes */

#portrait-ad #border-fix {
	height: 380px;
	width: 1px;
	/* Highest */
	z-index: 99999;
	background-color: white;
	position: absolute;
	right: 299px;
	display: none;
	}
	
#portrait-ad #portrait-ad-media #close-fix {
	width: 100px;
	height: 10px;
	background-color: white;
	position: absolute;
	top: 0px;
	z-index: 9999;
	display: none;
	}

/* Facebook Like */

#portrait-ad #portrait-ad-fb-like {
	right: -6px;
	position: absolute;
	top: 18px;
	}
		
/* Twitter - Twidget */

#portrait-ad #twitter-mask div.twtr-tweet {
	font-size: 14px;
	line-height: 22px;
	border: none;
	display: none;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	
#portrait-ad #twitter-mask div.twtr-tweet .twtr-user {
	color: #2A2A2A !important;
	}
	
#portrait-ad #twitter-mask div.twtr-tweet em {
	padding-top: 5px;
	padding-bottom: 15px;
	}
	
#portrait-ad .twtr-hd, #portrait-ad .twtr-ft {
	display: none;
	}
	
#portrait-ad .twtr-tweets {
	/* height: 80px; */
	}
	
#portrait-ad .twtr-tweet-wrap {
	padding: 0;
	}