body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui;
  background: #fff;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}